
<div class="jumbotron text-white" style="background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


">
  <h1 class="display-4">How does our algorithm work?</h1>
  

</div>
 <p>
          <a href="javascript:window.print()" class="btn btn-warning btn-lg">Print this page</a>
          </p>
<div class="card" style="width: 72rem;">
  <div class="card-header">
    
  </div>
  <img src="https://i.imgur.com/wBNGkAd.png" alt="" width="700rem" height="800rem"class="img-rounded">
</div>

   
