

<div class="jumbotron text-white" style="background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


">
  <h1 class="display-4">Top 10 colleges for <%= @branch.name %></h1>
  <p class="lead">Top 10 colleges sorted using our smart algorithm</p>

</div>
 <p>
          <a href="javascript:window.print()" class="btn btn-warning btn-lg">Print this page</a>
          </p>
<div class="card" style="width: 72rem;">
  <div class="card-header">
    Branch and corresponding rank
  </div>
  <ul class="list-group list-group-flush">
   <% @colleges.each do |result| %>
    <li class="list-group-item">
    <%= link_to result.college.name, college_path(result.college)%>
    <div class="flaot-right btn btn-primary text-right" style="float:right;">
      <%= result.rank %></div>
    </li>
    
  
     <% end %>
  </ul>
</div>
